<ion-content>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <br>

  <ion-card>
    <ion-img src="/assets/image/stormfa简历.png"></ion-img>
    <ion-card-content>
      <ion-card-title>Hello Stormfa</ion-card-title>
      <p>Do one thing at a time, and do well.</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-button>Default</ion-button>
  <ion-button href="#">Anchor</ion-button>
  <ion-button href="/" goBack>goback</ion-button>
  <br>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
  <br>
  <!-- Expand -->
  <ion-button expand="full">Full Button</ion-button>
  <!-- Icons -->
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>
  <ion-button>
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>
  <br>
  <br>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MM/DD/YYYY"></ion-datetime>
  </ion-item>
  <br>

  <ion-list>
    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>
  </ion-list>
  <br>

</ion-content>
